:root {
	--montserrat: 'Montserrat', sans-serif;
	--blue: #076fae;
	--navyblue: #1e4485;
	--navyblue2: #133671;
	--yellow: #f5c51d;
	--black: #050505;
	--gray: #cdd3db;
	--gray2: #a1a1a1;
	--gray3: #d7dce4;
	--gray4: #ececec;
	--red: #dc0a00;
	--green: #5eb022; //1d9300
	--darkgreen: #488719;
	--turquoise: #319ed5;
	--orange: #ed8b00;

	--header: 64px;
	--logo-w: 188px;
	--logo-h: 44px;

	--section-title: 28px;
	--section-title-color: var(--blue);
}